#curs {
  //display: none;
  background: #F3FCFF;
  margin-top: 80px;
  padding: 40px 0;

  .curs {

    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: #203B54;
      font-family: "Inter", Sans-serif;
      font-size: 37px;
      font-weight: 550;
    }

    h2 {
      width: 550px;
      color: #203B54;
      font-family: "Roboto", Sans-serif;
      font-size: 23px;
      font-weight: 400;
      line-height: 35px;

      span {
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 1240px) {
  #curs .curs {
    justify-content: space-around;
  }
  #curs .curs h2 {
    width: 503px;

  }


}

@media (max-width: 992px) {
  #curs .curs h1 {
    font-size: 35px;
    width: 228px;
  }
  #curs .curs h2 {
    width: 446px;
    font-size: 20px;
  }

}

@media (max-width: 768px) {
  #curs .curs {
    flex-direction: column;
  }
  #curs .curs h1 {
    font-size: 35px;
    width: 346px;
    text-align: center;
  }
  #curs .curs h2 {
    margin-top: 63px;
    width: 446px;
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  #curs .curs h1 {
    font-size: 28px;
  }
  #curs .curs h2 {
    width: 380px;
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  #curs .curs h1 {
    font-size: 25px;
  }
  #curs .curs h2 {
    width: 348px;
    font-size: 16px;
  }

}

@media (max-width: 376px) {
  #curs .curs h1 {
    font-size: 23px;
  }
  #curs .curs h2 {
    width: 285px;
    font-size: 14px;
  }

}

@media (max-width: 320px) {
  #curs .curs h1 {
    width: 282px;
  }
  #curs .curs h1 {
    font-size: 22px;
  }

}


