#team {
  margin-top: 50px;
  h1 {
    text-align: center;
    color: #203B54;
    font-family: "Roboto", Sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
    padding-top: 30px;
  }

  .team {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &--all {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 40px 20px;

      &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 350px;
        height: 350px;
        background: #d1effa;
        border-radius: 50px;

        img {
          border-radius: 50px;
          width: 332px;
          height: 332px;

        }
      }

      &__text {
        h2 {
          color: #203B54;
          font-family: "Roboto", Sans-serif;
          font-size: 24px;
          font-weight: 500;
          padding: 20px 0;
        }

        h3 {
          color: #203B54;
          font-family: "Inter", Sans-serif;
          font-size: 14px;
          font-weight: 300;
          text-align: center;
        }
      }
    }

    &--data {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      &__datas {
        margin: 40px 0;

        &--img1 {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 350px;
          height: 350px;
          background: #d1effa;
          border-radius: 50px;

          img {
            border-radius: 50px;
            width: 332px;
            height: 332px;
            object-fit: cover;
          }
        }

        &--texts {
          h1 {
            color: #203B54;
            font-family: "Roboto", Sans-serif;
            font-size: 24px;
            font-weight: 500;
            padding: 20px 0;
          }

          h2 {
            color: #203B54;
            font-family: "Inter", Sans-serif;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
          }
        }

      }
    }
  }
}

@media (max-width: 1024px) {
  #team .team {
    justify-content: space-evenly;
  }

}

@media (max-width: 768px) {
  #team h1 {
    padding-top: 144px;
    font-size: 2.4rem;

  }
  #team h1 {
    padding-top: 200px;
    font-size: 2rem;
  }

}

@media (max-width: 400px) {
  #team .team--all__img {
    width: 321px;
    height: 321px;

  }
  #team h1 {
    padding-top: 200px;
    font-size: 2rem;
  }
  #team .team--all__img img {
    width: 297px;
    height: 297px;
  }

}

@media (max-width: 320px) {
  #team h1 {
    padding-top: 200px;
    font-size: 1.5rem;
  }
  #team .team--all__img {
    width: 275px;
    height: 275px;
  }
  #team .team--all__img img {
    width: 250px;
    height: 250px;
  }
  #team .team--all__text h2 {
    font-size: 22px;
  }
}

@media (max-width: 450px) {

}


